<ul>
<% @changes.each do |c| %>
<li><%= c.change_type %> <a href="http://www.openstreetmap.org/browse/<%= c.elem_type %>/<%= c.id %>"><%= c.elem_type %> <%= c.id %></a> 
version <%= c.version %> in <a href="http://www.openstreetmap.org/browse/changeset/<%= c.changeset %>"><%= c.changeset %></a>
(or <a href="../tiles/<%= c.changeset %>">view it here</a>) <%= time_ago_in_words(c.time) %> ago
<% if @cs2details.has_key? c.changeset 
  details = @cs2details[c.changeset] %>
  by <%= details[0] %>
  <%= "\"#{details[1]}\"" unless details[1].nil? %>
  <%= "(BOT)" if details[3] == "t" %>
<% end %>
.</li>
<% end %>
</ul>
